       <div id="elementProps">
       <ul>
       <li><a href="#proptable">Add Properties</a></li>
       
       </ul>
       <div id= "proptable">
       <table id="htmlgrid" class="testgrid" border="1">
       
       <tr>
       <th>Properties</th>
       <th>Value</th>
       </tr>
       <tr id="R1">
       <td>Name</td>
       <td width=100%><input type="text" id="properties_ename" value="" name="properties_ename" style="width:98%;" ></td>
       </tr>

       
       <tr id="R3">
       <td>Predecessors</td>
       <td width=100%><input type="text" value="" id="properties_epredecessors" name="properties_epredecessors" readonly style="width:98%;" ></td>
       </tr>
       <tr id="R4">
       <td>Successors</td>
       <td width=100%><input type="text" value="" id="properties_esuccessors"name="properties_esuccessors" readonly style="width:98%;"  ></td>
       </tr>
       <tr id="R5">
       <td>Process</td>
       <td width=100%><input type="text" value="" id="properties_Associated_process_emodels"name="properties_Associated_process_emodels" style="width:98%;"  ></td>
       </tr>
       
       <hr>
       
       </table>
       <br> <br>
       <button type="button" class="btn btn-primary" id="saveElms">Save</button>
       </div>
       </div>